body {
	margin:0;
	padding: 0;
}

div {
	margin: 2px;
	padding: 2px;
}

.page-wrapper {
	margin: 0;
	padding: 0;
}

#boardDiv {
	position: relative;
}

.section-header {
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: center;
	color: darkgoldenrod;
	background-color: navy;
	border-radius: 3px;
	text-decoration: none;
	padding: 3px;
	font-size: 20px;
}

button:disabled {
	background-color: grey;
	color: white;
}

#correct-place {
	/*background-color: red;*/
	width: 44px; height: 15px;
	border-radius: 20px;
	position: absolute; top: 44px; left: 146px;
}
#message {
	background-color: yellow;
	display: none;
}
#hints {
	display: none;
	background-color: aquamarine;
}

#next-month-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#last-month {
	height: 50px;
	overflow-y: scroll;
}

#store-popup {
	margin: 0;
	top: 0px;
}

#store-popup div.popup-content {
	padding: 10px;
	margin-top: 0;
}

#items-list {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 0.5fr 0.5fr 1fr 1.5fr 2fr;
	border: 1px solid black;
}

.items-header {
	font-weight: bold;
	color: navy;
}

#items-list div {
	border: 0.5px dashed silver;
	margin: 0;
	padding: 5px;
}

.text-input {
	width: 50px;
}

h2, h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px
}

button {
	font-size: 18px;
}