/* Global variables */
:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--duration-move: .1s; /* Duration to move by 1 cell */
	--duration-fade: .4s;
}

html {
	display: flex;
	min-height: 100vh;
}

body {
	/*margin: auto;*/
	/*margin-top: 10px;*/
	width: 100%;
	height: 100%;
	padding-top: 10px;
	font-family: Arial;
}

.page-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
	"header board";
}

.ui-head {
	grid-area: header;
}

.ui-board {
	grid-area: board;
}

/* HEADER STYLES */
a {
	text-decoration: none;
}

h1 {
	/*margin-top: 0;*/
	margin: 10px;
	text-align: center;
	color: darkgoldenrod;
	background-color: navy;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px;
	font-size: 30px;
}

side {
	/*margin: auto;*/
	padding: 10px;
	font-size: 18px;
	color: #0A56D8;
	text-align: center;
}

/* BOARD STYLES */
main {
	margin: auto;
	/*padding: 5px;*/
	text-align: center;
	width: auto;
	height: auto;
}

.board {
	/* Variables to use in creating the board */
	--grid-color: silver;
	/*--board-size: 400px;*/
	--grid-gap: 1px;
}

#boardDiv {
	display: grid;
	align-items: center;
	justify-items: center;
	/*width: var(--board-size);*/
	/*height: var(--board-size);*/
	overflow: hidden;
	border: black 3px solid;
	margin: 0;
	padding: 0;
}

.cell {
	/*margin: -1px;*/
	border: black 1.5px solid;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.questions {
	width: 600px;
}

.question {
	border: 1px dashed silver;
	text-align: left;
}

.text-input {
	font-size: 16px;
	padding: 5px;
}

.submit {
	font-size: 16px;
	padding: 5px;
}

.hint {
	display: none;
	background-color: aquamarine;
}

/* ELEMENT STYLES */
div {
	margin: 5px;
	padding: 5px;
}

button {
  background-color: navy;
  color: white;
  font-size: 20px;
  padding: 6px 15px 6px 15px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
	background-color: royalblue;
}


/* POPUP */
/* reference: https://www.w3schools.com/howto/howto_css_modals.asp */
/* Add New Guest Popup */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 20px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255, .8);
}

/* Popup Content */
.popup-content {
  background-color: #fefefe;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  /* background-color: rgb(128,156,167); */
  z-index: 3;
  box-sizing: content-box;
  box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 2em;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
  margin-right:3vw;
}

.popup-buttons button {
  /*font-size: 2vw;*/
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
