body {
	margin:0;
	padding: 0;
}

div {
	margin: 2px;
	padding: 2px;
}

.page-wrapper {
	margin: 0;
	padding: 0;
}

#boardDiv {
	position: relative;
}

.section-header {
	margin-top: 0px;
	margin-bottom: 2px;
	text-align: center;
	color: darkgoldenrod;
	background-color: navy;
	border-radius: 3px;
	text-decoration: none;
	padding: 3px;
	font-size: 20px;
}

button:disabled {
	background-color: grey;
	color: white;
}

#correct-place {
	/*background-color: red;*/
	width: 44px; height: 15px;
	border-radius: 20px;
	position: absolute; top: 44px; left: 146px;
}
#message {
	background-color: yellow;
	display: none;
}
#hints {
	display: none;
	background-color: aquamarine;
}

#next-month-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#last-month {
	height: 50px;
	/*overflow-y: scroll;*/
}


#items-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.text-input {
	width: 50px;
}

h2, h3, p {
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	font-size: 18px;
}